<%= render 'shared/notices' %>
<%= render "form" %>

<div class="rowm my-3">
	<div class="col-sm-6 offset-sm-3 text-center">
		<%= link_to "Login with Facebook", '/auth/facebook' %>
	</div>
</div>

<%= console %>