<% if @petition.signatures.count == 0 %>
	<small>Be the first to sign!</small>
<% else %>
	<ul>
		<% @petition.signatures_desc.each do |signature| %>
			<li class="text-muted"><strong><%= display_signer_name(signature) %></strong>	signed this petition on <%= display_date(signature.created_at) %></li>
		<% end %>
	</ul>
<% end %>